# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
spring-boot-*.log

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# macOS
.DS_Store

# Local configuration overrides
application-local.properties
application-local.yml
